body {
  background-color: #B3C2F2;
  height: 100%
}

main {
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  background-color: #e8ac9c; 
  justify-content: space-between;
}


.all-content {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content-container {
  min-height: calc(100vh - 72px);
  min-width: 100%;
  display: flex;
}

.indigo {
  display: flex;
  align-self: flex-end;
  margin-left: 3rem;
  font-size: 3rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

ul.nav-list {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 0;
}

li.nav-item {
  display: flex;
  background-color: #a2a5ae;
  margin-top: 4rem;
  margin-right: 3rem;
  border-radius: 1rem 1rem 0 0;
}

.nav-item:hover {
  background-color: #FDCA40;
}

.nav-link {
  padding: .75rem 1rem 1rem 1rem;
  font-size: 2rem;
  border-radius: 1rem 1rem 0 0;
}

.active {
  background-color: #B3C2F2;
}

.footer--pin {
  background-color: aliceblue; 
  position: relative;
  left: 0;
  bottom: 0;
  height: 40px;
  margin-top: 2rem;
}

.about-me {
  margin-top: 4rem;
}

.port-cont {
  margin-top: 4rem;
}

.portfolio {
  margin-top: 1rem;
  background-color: aliceblue;
  padding: 2rem 4rem;
  border-radius: .5rem;
}

.project {
  border-radius: .5rem;
  opacity: 60%;
}

.project:hover {
  opacity: 100%;
}

img {
  width: 100%;
  height: auto
}

@media screen and (max-width: 1150px){
  .nav-list {
    flex-direction: column;
    margin: 1rem 3rem 4rem 0;
    padding: 0
  }

  li.nav-item {
    background-color: transparent;
    margin: .1rem;
    padding: 0;
  }

  .nav-link {
    padding: 0;
  }

  .nav-item:hover {
    background-color: transparent;
    color: #FDCA40;
  }

  .active {
    background-color: transparent;
    color: #FDCA40;
  }
}